In [24]:
# CAP 5610 Project
# Dataset Link: https://www.kaggle.com/c/ieee-fraud-detection
# Feature Engineering: https://www.kaggle.com/c/ieee-fraud-detection/discussion/108575
# random forest implementation: https://www.kaggle.com/sveneschlbeck/ieee-fraud-detection-with-random-forest

import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
import os

train_identity = pd.read_csv(os.getcwd() + "\\train_identity.csv")
train_transaction = pd.read_csv(os.getcwd() + "\\train_transaction.csv")
# print(train_identity)
# print(train_transaction)

from sklearn import preprocessing

# Replacing NaN with default values
train_identity = train_identity.fillna(value = -999)

# Dropping columns
train_identity.drop(["id_23", "id_27"], axis = 1).values

# id_23 and id_27 have mostly null data

# Replacing values

# id_12, 15, 16
train_identity = train_identity.replace("Found", 1)
train_identity = train_identity.replace("NotFound", 2)


train_identity = train_identity.replace("New", 3)
train_identity = train_identity.replace("mobile", 4)
train_identity = train_identity.replace("desktop", 5)
train_identity = train_identity.replace("T", 6)
train_identity = train_identity.replace("F", 7)

#df1.select_dtypes("number")
#df1.select_dtypes("object")

# Typecasting
train_identity["DeviceInfo"] = train_identity["DeviceInfo"].astype(str)
train_identity["id_30"] = train_identity["id_30"].astype(str)
train_identity["id_31"] = train_identity["id_31"].astype(str)
train_identity["id_33"] = train_identity["id_33"].astype(str)
train_identity["id_34"] = train_identity["id_34"].astype(str)
train_identity["id_15"] = train_identity["id_15"].astype(str)
train_identity["id_23"] = train_identity["id_23"].astype(str)

# Initializing Encoder
number = preprocessing.LabelEncoder()

# Encoding
train_identity["DeviceInfo"] = number.fit_transform(train_identity["DeviceInfo"])
train_identity["id_30"] = number.fit_transform(train_identity["id_30"])
train_identity["id_31"] = number.fit_transform(train_identity["id_31"])
train_identity["id_33"] = number.fit_transform(train_identity["id_33"])
train_identity["id_34"] = number.fit_transform(train_identity["id_34"])
train_identity["id_15"] = number.fit_transform(train_identity["id_15"])
train_identity["id_23"] = number.fit_transform(train_identity["id_23"])

train_identity.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,124,32.0,165,4,6,7,6,6,4,955
1,2987008,-5.0,98945.0,-999.0,-999.0,0.0,-5.0,-999.0,-999.0,-999.0,...,99,32.0,49,3,6,7,7,6,4,1728
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,...,46,-999.0,0,0,7,7,6,6,5,1599
3,2987011,-5.0,221832.0,-999.0,-999.0,0.0,-6.0,-999.0,-999.0,-999.0,...,46,-999.0,0,0,7,7,6,6,5,0
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,-999.0,-999.0,0.0,...,46,24.0,41,4,6,7,6,6,5,724

In [15]:
train_identity.shape

(144233, 41)

In [16]:
train_identity = train_identity.iloc[:100000]
train_identity.shape

(100000, 41)

In [17]:
# Replacing NaN with default values
train_transaction = train_transaction.fillna(value = -999)

#df2.select_dtypes("number")
#df2.select_dtypes("object")

# Typecasting
train_transaction["card4"] = train_transaction["card4"].astype(str)
train_transaction["card6"] = train_transaction["card6"].astype(str)
train_transaction["P_emaildomain"] = train_transaction["P_emaildomain"].astype(str)
train_transaction["R_emaildomain"] = train_transaction["R_emaildomain"].astype(str)
train_transaction["M1"] = train_transaction["M1"].astype(str)
train_transaction["M2"] = train_transaction["M2"].astype(str)
train_transaction["M3"] = train_transaction["M3"].astype(str)
train_transaction["M4"] = train_transaction["M4"].astype(str)
train_transaction["M5"] = train_transaction["M5"].astype(str)
train_transaction["M6"] = train_transaction["M6"].astype(str)
train_transaction["M7"] = train_transaction["M7"].astype(str)
train_transaction["M8"] = train_transaction["M8"].astype(str)
train_transaction["M9"] = train_transaction["M9"].astype(str)
train_transaction["ProductCD"] = train_transaction["ProductCD"].astype(str)

# Initializing Encoder
number = preprocessing.LabelEncoder()

# Encoding
train_transaction["card4"] = number.fit_transform(train_transaction["card4"])
train_transaction["card6"] = number.fit_transform(train_transaction["card6"])
train_transaction["P_emaildomain"] = number.fit_transform(train_transaction["P_emaildomain"])
train_transaction["R_emaildomain"] = number.fit_transform(train_transaction["R_emaildomain"])
train_transaction["M1"] = number.fit_transform(train_transaction["M1"])
train_transaction["M2"] = number.fit_transform(train_transaction["M2"])
train_transaction["M3"] = number.fit_transform(train_transaction["M3"])
train_transaction["M4"] = number.fit_transform(train_transaction["M4"])
train_transaction["M5"] = number.fit_transform(train_transaction["M5"])
train_transaction["M6"] = number.fit_transform(train_transaction["M6"])
train_transaction["M7"] = number.fit_transform(train_transaction["M7"])
train_transaction["M8"] = number.fit_transform(train_transaction["M8"])
train_transaction["M9"] = number.fit_transform(train_transaction["M9"])
train_transaction["ProductCD"] = number.fit_transform(train_transaction["ProductCD"])

train_transaction.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,-999.0,150.0,discover,142.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
train_transaction.shape

(590540, 394)

In [19]:
df = pd.merge(train_identity, train_transaction, on = "TransactionID", how = "outer")

df.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987004,0.0,70787.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2987008,-5.0,98945.0,-999.0,-999.0,0.0,-5.0,-999.0,-999.0,-999.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,2987011,-5.0,221832.0,-999.0,-999.0,0.0,-6.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,-999.0,-999.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
df = df.dropna()

In [21]:
df.shape

(100000, 434)

In [22]:
from sklearn.model_selection import train_test_split

# Columns used as predictors
X = df.drop(["isFraud"], axis = 1).values

y = df["isFraud"].values

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, test_size = 0.25)

In [23]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(criterion = "entropy")
model.fit(X_train, y_train)

model.score(X_test, y_test)

ValueError: could not convert string to float: 'NotFound'

In [12]:
from sklearn.ensemble import AdaBoostClassifier

model = AdaBoostClassifier()
model.fit(X_train, y_train)

model.score(X_test, y_test)

0.95968

In [13]:
from sklearn.svm import SVC

model = SVC()
model.fit(X_train, y_train)

model.score(X_test, y_test)

0.92984